
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.closeModal {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 15px;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.modalMessage {
  padding: 10px;
  display: flex;
  width: 500px;
  flex-direction: column;
}

.titleMessage {
  font-size: 26px;
}

.mainMessage {
  font-size: 20px;
}

.buttonsMessage {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}