/* Header CSS */
.header {
  background-color: var(--header-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: var(--header-font-color);
}

.headerLogo-home {
  width: 40px;
  padding: 20px;
}

.pokemonElements {
  flex-grow: 1;
}

.pokemonElements > * {
  margin: 5px;
}

.navBar {
  align-items: flex-end;
  padding: 20PX;
}