.pokemonDetail {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

.imagePokemonDetail {
  margin: 30px;
  background-color: rgba(221, 221, 221, 0.5);
  width: fit-content;
  box-shadow: 0px 0px 2px 5px lightgrey;
  height: 100%;
}

.imagePokemonDetail > img {
  max-width: 250px;
  max-height: 250px;
}

.pokemonDetailNav{
  margin: 30px;
  width: 100%;
}

.pokemonDetailDescription {
  overflow-wrap: break-word;
  max-width: 450px;
}

.pokemonDetailName {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  font-size: 22px;
  margin: 0px;
  justify-content: space-between;
}

.pokemonType {
  display: flex;
  font-size: var(--font-small)
}

.typeElement {
  background-color: olivedrab;
  padding: 5px;
  border-radius: 0.5em;
  margin-right: 3px;
}

.type2 {
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 0.5em;
  margin-right: 3px;
}

.pokemonDetailTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkTextEditPage {
  margin-right: 5px;
}

.pokemonDetailLocation {
  margin: 0px 30px;
}

.locationTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detailRouteCard {
  margin-top: 35px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px lightgrey;
}

.routeNumber {
  font-size: 20px;
  margin-top: 0px;
}

.routeDate {
  margin-bottom: 0px;
}

.detailRouteCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemonDetailBtn {
  display: flex;
}

.textBack {
  margin-top: 20px;
  margin-left: 0px;
  float: right;
}
