.footer {
  background-color: var(--footer-background-color);
  color: var(--footer-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin: auto;
}

.footerLabel {
  flex-grow: 1;
  align-items: flex-start;
  margin-left: 20%;
  font-weight: bold;
  font-size: var(--font-size-label);

}

.footerDescription {
  align-items: flex-end;
  margin-right: 20%;
}
