@font-face {
  font-family: PlayFairRegular;
  src: url(assets/fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
  font-family: ButtonFont;
  src: url(assets/fonts/Raleway-ExtraBold.ttf)
}

:root {
  font-family: PlayFairRegular;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
