.textAreaLabel {
  display: flex;
  flex-direction: column;
}

.textAreaInput {
  margin: 10px 0px;
  border: 1px solid lightgrey;
  width: 100%;
  box-sizing: border-box;
}

.labelRequired {
  color: red;
  margin-left: 3px;
}
